@inherits UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<RealHome>();
    var children = homePage.NavigationsItem_List;
}
 
<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            @if (children != null && children.Any())
            {
                foreach (var item in children)
                {
                    <li>
                        <div class="w3layouts-banner-top" style="background: url('@item.Nav_Photo.Url') no-repeat 0 0;">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h3>@item.Title_Nav</h3>
                                    <p>@item.Des_Nav</p>
                                    <a href="#contact-us" class="scroll">
                                        Contact Us<i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }

            }
        </ul>
    </div>
</div>